/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
}

body, html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}


.HomeWrapper {
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  min-height: 100vh;
  height: auto;
  overflow: auto;
}


::-webkit-scrollbar {
  display: none;
}