@import "../../app/mixin.scss";
.candlestickChartWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width:80%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  @include md{
    padding: 10px;
    margin: 10px 0;
  }
  .chart {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  background-color: #111111;

  }
}




/* Optional: Add hover effects */
.candlestickChartWrapper:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease;
}