@import "../../app/mixin.scss";

.candlestickChartWrapper {
  display: flex;
  justify-content: space-between;
  background-color: #1a1a1a;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width:100%;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin: 0px 0 20px;
  height: 100%;
  @include md{
    padding: 12px 16px;
  }

  @include xl{
    width: 70%;
  }

  .chart {
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  background-color: #111111;
  width: 100%;
  .tv-lightweight-charts{
    border-radius: 12px;
    width: 100%;
  }

  }
}

.candlestickChartWrapper:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease;
}